* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Archivo", sans-serif;
}
header {
  padding: 30px 60px;
  background-color: black;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left .logo {
  font-size: 1.5rem;
  padding-right: 5px;
  border-right: 2px solid #fff;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.left .logo:hover {
  color: #f0ecec71;
}
.left .help {
  font-size: 24px;
  letter-spacing: -0.5px;
  margin-left: 4px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  line-height: 23px;
}
.left .help:hover {
  text-decoration: underline;
}
.btn {
  text-decoration: none;
  color: #fff;
}
.right .sub {
  font-size: 1.5rem;
  background: #191a1b;
  border: 1px solid #fff;
  padding: 10px 22px;
  border-radius: 6px;
}
.right .sign {
  border: 1px solid #4c5fd5;
  background: #4c5fd5;
  padding: 10px 22px;
  font-size: 1.5rem;
  margin-left: 10px;
  border-radius: 6px;
}
.right .sign:hover {
  color: #000;
  background: #fff;
}
@media screen and (min-width: 951px) {
  .res {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  header {
    padding: 30px 10px;
  }
  nav {
    display: flex;
    justify-content: space-between;
  }

  .right {
    display: none;
  }

  .res :nth-child(1) {
    color: #fff;
    font-size: 2rem;
  }
  .res .search-icon:hover {
    font-size: 2.5rem;
  }
  .res :nth-child(2) {
    color: #fff;
    font-size: 2.5rem;
  }
}
section.landing {
  padding-top: 80px;
  padding-bottom: 115px;
  background: #dadbf1;
}
section .hero {
  text-align: center;
  max-width: 720px;
  margin: 0 auto;
}
.hero h1 {
  font-size: 80px;
  font-weight: normal;
  color: #000000;
  margin: 0 0 1rem;
}
.hero input {
  width: 100%;
  padding: 1rem 1rem;
  border-radius: 4px;
  font-family: "Archivo", sans-serif;
  font-size: 1rem;
  box-shadow: 0 9px 14px 0 rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 950px) {
  .hero h1 {
    font-size: 60px;
    font-weight: normal;
    color: #000000;
    margin: 0 0 1rem;
  }
  .hero input {
    width: 80%;
  }
}
.content {
  margin-top: 100px;
  margin-bottom: 50px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 1400px;
  margin: 0 auto;
  row-gap: 100px;
  column-gap: 50px;
}
@media screen and (max-width: 920px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.content .cat-list {
  display: flex;
  margin-bottom: 3rem;
  padding-right: 15px;
  width: 100%;
}

.content .cat-list img {
  width: 100px;
}
.content .cat-content {
  margin-left: 15px;
  max-width: 80%;
}
.content .cat-content h2 {
  font-size: 1.5rem;
  max-width: 50%;
}
.content .cat-content p {
  letter-spacing: 1.5;
  font-size: 24px;
  line-height: 32px;
}
.content .cat-content a {
  color: #4c5fd5;
  text-decoration: none;
  font-size: 20px;
}

.content .cat-content a:hover {
  text-decoration: underline;
}
footer {
  background: #000;
  padding-bottom: 60px;
  padding-top: 60px;
  font-size: 1rem;
  line-height: 24px;
}
footer .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1900px;
  width: 90%;
  margin: 0 auto;
}
footer p {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  margin-top: 10px;
}
footer li {
  list-style: none;
  color: #fff;
  margin-bottom: 10px;
}
@media screen and (max-width: 950px) {
  footer .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
